<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Car Rental</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    {% block content %}{% endblock content %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}

    {% endif %}
</body>

{% block script %}{% endblock script %}

</html>
